{% extends 'base_memo.html' %}

{% block title %}トップ | Project Memo{% endblock %}

{% block contents %}
<h2 class="section-title">メモ作成</h2>
<form action="" method="post">
    {% csrf_token %}

    <div class="flex-col">
        <label for="id_content">内容</label>
        <textarea name="content" cols="40" rows="10" id="id_content" required></textarea>
    </div>

    <div class="flex-col">
        <label for="id_project">プロジェクト</label>
        <input type="text" name="project" list="project-list" required>
        <datalist id="project-list">
            <select id="id_project">
                {% for project in projects %}
                <option value="{{project.name}}">{{project.name}}</option>
                {% endfor %}
            </select>
        </datalist>
    </div>

    <button type="submit">登録</button>
</form>

<h2 class="section-title">メモ一覧</h2>
{% for memo in memos %}
<div class="memo-list">
    <p class="memo-content">{{memo.content}}</p>
    <p class="memo-metainfo">プロジェクト:{{memo.project.name}}</p>
    <p class="memo-metainfo">更新日:{{memo.updated_at}}</p>
    <div class="links">
        <a class="update-link" href="{% url 'memo:update-memo' memo.id %}">更新</a>
        <a class="delete-link" href="{% url 'memo:delete-memo' memo.id %}">削除</a>
    </div>
    <hr>
</div>
{% endfor %}
{% endblock contents %}