{% extends 'base_memo.html' %}

{% block title %}更新ページ | Project Memo{% endblock %}

{% block contents %}
<h2>メモ更新</h2>
<form action="" method="post">
    {% csrf_token %}

    <div>
        <label for="id_content">内容</label>
        <textarea name="content" cols="40" rows="10" id="id_content" required>{{memo.content}}</textarea>
    </div>

    <div>
        <label for="id_project">プロジェクト</label>
        <input type="text" value="{{memo.project.name}}" name="project" list="project-list" required>
        <datalist id="project-list">
            <select id="id_project">
                {% for project in projects %}
                <option value="{{project.name}}">{{project.name}}</option>
                {% endfor %}
            </select>
        </datalist>
    </div>

    <button type="submit">更新</button>
</form>

{% endblock contents %}