<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'memo/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1><a href="{% url 'memo:index' %}">Project Memo</a></h1>
    
        <div class="flex-row">
            <div>
                <h2>プロジェクト</h2>
                {% for project in projects %}
                <p><a href="{% url 'memo:project' project.id %}">{{project.name}}</a></p>
                {% endfor %}
            </div>
    
            <div>
                {% block contents %}
                {% endblock contents %}
            </div>
        </div>
    </div>
</body>
</html>