{% extends 'base_accounts.html' %}

{% block title %}メールアドレスを確認してください | Portfolio{% endblock %}

{% block contents %}
{% if confirmation %}
<p class="text-lg text-white mb-6">メールアドレス <a class="border-b border-dotted" href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a> で登録しますか？</p>

<form class="flex flex-col max-w-full" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
    <button class="mx-8 mb-4 py-3 rounded-md  bg-white bg-opacity-80 hover:bg-opacity-100 transition-colors text-indigo-500" type="submit">登録</button>
</form>

{% else %}
{% url 'account_email' as email_url %}

<p class="text-lg text-white">リンクの有効期限が切れています。<a class="border-b border-dotted" href="{{ email_url }}">再申請</a></p>

{% endif %}
{% endblock contents %}