{% extends 'base_accounts.html' %}

{% block title %}ログイン | Portfolio{% endblock %}

{% block contents %}
<form class="flex flex-col max-w-full" action="{% url 'account_login' %}" method="post">
    {% csrf_token %}
    <input
        class="mx-8 mb-6 py-3 px-4 rounded-md bg-indigo-300 bg-opacity-30 text-white placeholder-white outline-none"
        type="email" placeholder="メールアドレス"
        name="login" autocomplete="email" required>
    <input
        class="mx-8 mb-6 py-3 px-4 rounded-md bg-indigo-300 bg-opacity-30 text-white placeholder-white outline-none"
        type="password" placeholder="パスワード"
        name="password" autocomplete="current-password" required>
    <p class="flex mx-8 mb-4 items-center">
        <input class="mr-2 form-checkbox h-4 w-4" type="checkbox" name="remember" id="id_remember">
        <label for="id_remember" class="text-white">ログインしたままにする</label>
    </p>
    
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}
    
    <button
        class="mx-8 mb-4 py-3 rounded-md  bg-white bg-opacity-80 hover:bg-opacity-100 transition-colors text-indigo-500"
        type="submit" id="btn-login">ログイン
    </button>
</form>

<p class="text-white">パスワードを忘れた場合は<a class="border-b border-dotted" href="{% url 'account_reset_password' %}">こちら</a>をクリック</p>
{% endblock contents %}