<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワードリセット</title>
    <link rel="stylesheet" href="{% static 'css/accounts_tailwind.css' %}">
</head>
<body>
    <div class="min-h-screen bg-gradient-to-bl from-indigo-500 to-blue-400 shadow-md flex flex-col m-0 text-center py-64 font-body">
        <div class="max-w-xl w-full mx-auto my-0">
            <h1 class="text-5xl mb-6 text-white px-3">Portfolio App</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="text-lg text-white mb-6">パスワードをリセットするためにメールアドレスを入力してください。</p>
        
            <form class="flex flex-col max-w-full" action="{% url 'account_reset_password' %}" method="post">
                {% csrf_token %}
                <input
                    class="mx-8 mb-6 py-3 px-4 rounded-md bg-indigo-300 bg-opacity-30 text-white placeholder-white outline-none"
                    type="email" placeholder="メールアドレス"
                    name="email" autocomplete="email" required>
                
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                {% endif %}
                
                <button
                    class="mx-8 mb-4 py-3 rounded-md  bg-white bg-opacity-80 hover:bg-opacity-100 transition-colors text-indigo-500"
                    type="submit" id="btn-password-reset">パスワードをリセット
                </button>
            </form>
        </div>
    </div>
</body>
</html>