<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Done</title>
</head>
<body>
    <h1>{% if token_fail %}不正トークン{% else %}パスワードリセット{% endif %}</h1>

    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>パスワードリセット用リンクが無効になっています。<a href="{{ passwd_reset_url }}">パスワードリセットを再申請</a></p>
    {% else %}
        {% if form %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="変更"/>
        </form>
        {% else %}
        <p>パスワードは変更されています。</p>
        {% endif %}
    {% endif %}
</body>
</html>